@import url(./fonts.css);

html {
  --primary: #9ED35A;
  --primary-light: #BCE194;
  --primary-background: #ebf6df;
  --primary-dark: #6BA539;
  --accent: #DE8C59;
  --accent-background: #f9c19f;
  --color: #2F322E;
  --accent-contrast: var(--color);
  --color-light: #575d56;
  --border: #d8dfdf;
  --background: #f8fbfb;

  --tab-nav-primary: #4E8023;

  --original-blue: #5fabbf;
  --links: #327B8F;
  --links-contrast: #ffffff;

  --nav-background: #2F322E;
  --nav-text: #f8fbfb;

}

.dark {
  --background: #2F322E;
  --primary-background: #3c443c;
  --color: #f8fbfb;
  --color-light: #bcc0c0;
  --border: #313737;
  --links: #82d5ec;
  --links-contrast: #1b1c1a;
  --accent-contrast: #2F322E;

  --border: #4f5050;
  --tab-nav-primary: #cff1b1;

  a.button.accent { color: var(--background); }
}

* { box-sizing: border-box; }
.desktop { display: none; }
@media(min-width: 650px) {
  .desktop { display: initial; }
  .mobile { display: none;}
}

body, html {
  padding: 0;
  margin: 0; 
}

body {
  background: var(--background);
  color: var(--color);
  font-family: 'open-sans', sans-serif;
}

body > header .content {
  max-width: 1200px;
  margin: 0 auto;
}

body > header {
  background: var(--primary);
  text-align: center;
  padding-bottom: 1.5rem;
  h1 { margin-bottom: 0; }
}
body.dark > header {
  color: var(--background);
}

img { max-width: 100%; }
h2 { margin-bottom: .5rem;}

a:link, a:visited {
  color: var(--links);
}
button { color: var(--color) }
a.button, button { font-weight: bold; }
a.button {
  background: var(--links);
  color: var(--links-contrast);
  border: solid 1px var(--links);
  padding: .5rem 2rem;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
}
a.button.accent {
  background: var(--primary-light);
  color: var(--color);
  border: solid 1px var(--primary-light);
}
a.button.outline {
  background: none;
  color: var(--links);
  border-color: var(--links);
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: .5ex 2ch;
  background: var(--nav-background);
  color: var(--nav-text);
  a:link, a:visited {
    color: var(--nav-text);
    text-decoration: none;
    padding: 1ex 1ch;
    border-bottom: solid 3px var(--nav-background);
    display: block;
  }
  a:hover, a:focus {
    outline: none;
    border-color: var(--primary);
  }
}

/** home page **/
header.home {
  padding-bottom: 0;
  .title {
    padding: 1rem;
    p {
      font-size: 1.25rem;
      white-space: balance;
      line-height: 1.5;
    }
    h1 { margin-bottom: .5rem; }
  }
}

@media (min-width: 650px) {
  header.home img { height: 100%; object-fit: cover; }
  header.home .content {
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 250px);
    align-items: center;
    justify-content: center;
    grid-template-rows: min-content minmax(0, min-content);
  }
  header.home h1 { grid-column: 1 / 3; }
}

section { padding: 0 1rem; }
.more { text-align: right; }

.engagements {
  ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    gap: 1rem;
  }
  li {
    display: flow-root;
    border: solid 2px var(--primary);
    border-radius: 4px;
    padding-bottom: .5rem;
  }
  img {
    aspect-ratio: 16/3;
    object-fit: cover;
    width: 100%;
    border-radius: 3px 3px 0 0;
    margin-bottom: .5rem;
  }
  li a { float: right; }
  .desktop { display: none; }
  li > *:not(:where(img)) { margin: 0 1rem; }
}
@media (min-width: 650px) {
  .engagements {
    ul {
      display: flex;
      gap: .5rem;
      flex-wrap: wrap;
      justify-content: center;
    }
    li { 
      flex-basis: 12.5rem;;
      display: grid;
      gap: .5rem;
      grid-template-rows: min-content auto repeat(3, max-content);
      text-align: center;
    }
    h3 { align-self: center; }
    img { aspect-ratio: 16/9 }
    a.button.desktop { display: inline-block; }
    a.button.mobile { display: none; }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}
tr { border-bottom: solid 1px var(--border); }
tbody tr:nth-of-type(even) {
  background: var(--primary-background);
}
table address { font-style: normal; }

@media (max-width: 650px) {
  table thead, tbody, tr, td, th { display: block; }
  thead {
    position: absolute;
    left: -999999px;
  }
  td {
    display: grid;
    grid-template-columns: 8ch 1fr;
    align-items: baseline;
  }
  td::before { 
    content: attr(data-header) ": ";
    font-size: .875rem;
    color: var(--color-light);
  }
  tr { padding: .5rem; }
  tr:first-of-type { border-top: solid 1px var(--border); }
}
@media (min-width: 650px) {
  td, th { padding: .5rem; }
  th { text-align: left; }
  thead tr:last-of-type {
    border-bottom-color: var(--primary);
  }
}

.tags {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .25rem .5rem ;
  }
  li {
    background-color: var(--accent-background);
    color: var(--accent-contrast);
    border-radius: 12px;
    padding: .25ex 2ch;
    white-space: nowrap;
    font-size: .75rem;
  }
}