main {
  display: grid;
  gap: 1rem;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: .5rem 1rem;
  a.button { 
    display: block;
    text-align: center;
  }
}

.overview {
  .title {
    font-weight: bold;
    font-size: 1.125rem;
    text-wrap: balance;
  }
  .details { margin: 1rem 0; }
}  

.presentations {
  ul {
    list-style-type: none;
    padding: 0;
  }
  h3 { 
    text-wrap: balance;
    text-align: center;
  }
  li { 
    margin-bottom: 1rem;
    border: solid 1px var(--primary-light);
    border-radius: 4px;
    padding-bottom: 1rem;
    & > *:not(img) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .content {
      columns: 1;
      hyphens: auto;
      text-align: justify;
    }
  }
  img {
    display: block;
    max-height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
  }
}

@media (min-width: 650px) {
  main {
    grid-template-columns: 1fr 2fr;
  }
  .overview { grid-row: 1 / 3;}
  .details { grid-column: 2; }
  .presentations { grid-column: 2; }
  .presentations ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    li { 
      flex-basis: 250px;
      flex-grow: 1;
      display: grid;
      grid-template-rows: min-content min-content auto min-content;
      gap: .5rem;
    }
    li > * { margin-top: 0; margin-bottom: 0;  }
    li .content { align-self: center; }
    li .content :first-child { margin-top: 0; }
    li .content :last-child { margin-bottom: 0; }
  }
}