---
layout: 'layouts/base.liquid'
---

<header class="home">
  {% include 'components/main-nav.liquid' %}
  <div class="content">
    <div class="title">
      <h1>Chad Green</h1>
      <p>Sr. Software Architect at Jasper Engines | Cloud Tech Leader | Microsoft MVP | Speaker & Innovator | USMC Vet | Lego Builder</p>
    </div>
    <img src="img/chad-speaking.jpeg">
  </div>
</header>

<img src="img/under-construction.gif" alt="Under construction">

