@import url(./fonts.css);
html {
  --primary: #9ED35A;
  --primary-light: #BCE194;
  --primary-background: #ebf6df;
  --primary-dark: #6BA539;
  --accent: #DE8C59;
  --color: #2F322E;
  --color-light: #575d56;
  --border: #d8dfdf;
  --background: #f8fbfb;
  --original-blue: #5fabbf;
  --links: #327B8F;
  --links-contrast: #ffffff;
  --nav-background: #2F322E;
  --nav-text: #f8fbfb;
}

.dark {
  --background: #2F322E;
  --primary-background: #3c443c;
  --color: #f8fbfb;
  --color-light: #bcc0c0;
  --border: #313737;
  --links: #82d5ec;
  --links-contrast: #1b1c1a;
}

* {
  box-sizing: border-box;
}

.desktop {
  display: none;
}

@media (min-width: 650px) {
  .desktop {
    display: initial;
  }
  .mobile {
    display: none;
  }
}
body, html {
  padding: 0;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--color);
  font-family: "open-sans", sans-serif;
}

body > header .content {
  max-width: 1200px;
  margin: 0 auto;
}

body > header {
  background: var(--primary);
  text-align: center;
  padding-bottom: 1.5rem;
}
body > header h1 {
  margin-bottom: 0;
}

body.dark > header {
  color: var(--background);
}

img {
  max-width: 100%;
}

h2 {
  margin-bottom: 0.5rem;
}

a:link, a:visited {
  color: var(--links);
}

a.button {
  background: var(--links);
  color: var(--links-contrast);
  border: solid 1px var(--links);
  padding: 0.5rem 2rem;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
}

a.button.outline {
  background: none;
  color: var(--links);
  border-color: var(--links);
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5ex 2ch;
  background: var(--nav-background);
  color: var(--nav-text);
}
.main-nav ul a:link, .main-nav ul a:visited {
  color: var(--nav-text);
  text-decoration: none;
  padding: 1ex 1ch;
  border-bottom: solid 3px var(--nav-background);
  display: block;
}
.main-nav ul a:hover, .main-nav ul a:focus {
  outline: none;
  border-color: var(--primary);
}

/** home page **/
header.home {
  padding-bottom: 0;
}
header.home .title {
  padding: 1rem;
}
header.home .title p {
  font-size: 1.25rem;
  white-space: balance;
  line-height: 1.5;
}
header.home .title h1 {
  margin-bottom: 0.5rem;
}

@media (min-width: 650px) {
  header.home img {
    height: 100%;
    object-fit: cover;
  }
  header.home .content {
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 250px);
    align-items: center;
    justify-content: center;
    grid-template-rows: min-content minmax(0, min-content);
  }
  header.home h1 {
    grid-column: 1/3;
  }
}
section {
  padding: 0 1rem;
}

.more {
  text-align: right;
}

.upcoming-engagements ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 1rem;
}
.upcoming-engagements li {
  display: flow-root;
  border: solid 2px var(--primary);
  border-radius: 4px;
  padding-bottom: 0.5rem;
}
.upcoming-engagements img {
  aspect-ratio: 16/3;
  object-fit: cover;
  width: 100%;
  border-radius: 3px 3px 0 0;
  margin-bottom: 0.5rem;
}
.upcoming-engagements li a {
  float: right;
}
.upcoming-engagements .desktop {
  display: none;
}
.upcoming-engagements li > *:not(:where(img)) {
  margin: 0 1rem;
}

@media (min-width: 650px) {
  .upcoming-engagements ul {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .upcoming-engagements li {
    flex-basis: 12.5rem;
    display: grid;
    gap: 0.5rem;
    grid-template-rows: min-content auto repeat(3, max-content);
    text-align: center;
  }
  .upcoming-engagements h3 {
    align-self: center;
  }
  .upcoming-engagements img {
    aspect-ratio: 16/9;
  }
  .upcoming-engagements a.button.desktop {
    display: inline-block;
  }
  .upcoming-engagements a.button.mobile {
    display: none;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: solid 1px var(--border);
}

tbody tr:nth-of-type(even) {
  background: var(--primary-background);
}

table address {
  font-style: normal;
}

@media (max-width: 650px) {
  table thead, tbody, tr, td, th {
    display: block;
  }
  thead {
    position: absolute;
    left: -999999px;
  }
  td {
    display: grid;
    grid-template-columns: 8ch 1fr;
    align-items: baseline;
  }
  td::before {
    content: attr(data-header) ": ";
    font-size: 0.875rem;
    color: var(--color-light);
  }
  tr {
    padding: 0.5rem;
  }
  tr:first-of-type {
    border-top: solid 1px var(--border);
  }
}
@media (min-width: 650px) {
  td, th {
    padding: 0.5rem;
  }
  th {
    text-align: left;
  }
  thead tr:last-of-type {
    border-bottom-color: var(--primary);
  }
}