@import url(./fonts.css);
html {
  --primary: #9ED35A;
  --primary-light: #BCE194;
  --primary-background: #ebf6df;
  --primary-dark: #6BA539;
  --accent: #DE8C59;
  --accent-background: #f9c19f;
  --color: #2F322E;
  --accent-contrast: var(--color);
  --color-light: #575d56;
  --border: #d8dfdf;
  --background: #f8fbfb;
  --tab-nav-primary: #4E8023;
  --original-blue: #5fabbf;
  --links: #327B8F;
  --links-contrast: #ffffff;
  --nav-background: #2F322E;
  --nav-text: #f8fbfb;
}

.dark {
  --background: #2F322E;
  --primary-background: #3c443c;
  --color: #f8fbfb;
  --color-light: #bcc0c0;
  --border: #313737;
  --links: #82d5ec;
  --links-contrast: #1b1c1a;
  --accent-contrast: #2F322E;
  --border: #4f5050;
  --tab-nav-primary: #cff1b1;
}
.dark a.button.accent {
  color: var(--background);
}

* {
  box-sizing: border-box;
}

.desktop {
  display: none;
}

@media (min-width: 650px) {
  .desktop {
    display: initial;
  }
  .mobile {
    display: none;
  }
}
body, html {
  padding: 0;
  margin: 0;
}

body {
  background: var(--background);
  color: var(--color);
  font-family: "open-sans", sans-serif;
}

body > header .content {
  max-width: 1200px;
  margin: 0 auto;
}

body > header {
  background: var(--primary);
  text-align: center;
  padding-bottom: 1.5rem;
}
body > header h1 {
  margin-bottom: 0;
}

body.dark > header {
  color: var(--background);
}

img {
  max-width: 100%;
}

h2 {
  margin-bottom: 0.5rem;
}

a:link, a:visited {
  color: var(--links);
}

button, .button {
  color: var(--color);
}

a.button, button, .button {
  font-weight: bold;
}

a.button, .button {
  background: var(--links);
  color: var(--links-contrast);
  border: solid 1px var(--links);
  padding: 0.5rem 2rem;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
}

a.button.accent, .button.accent {
  background: var(--primary-light);
  color: var(--color);
  border: solid 1px var(--primary-light);
}

a.button.outline, .button.outline {
  background: none;
  color: var(--links);
  border-color: var(--links);
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5ex 2ch;
  background: var(--nav-background);
  color: var(--nav-text);
}
.main-nav ul a:link, .main-nav ul a:visited {
  color: var(--nav-text);
  text-decoration: none;
  padding: 1ex 1ch;
  border-bottom: solid 3px var(--nav-background);
  display: block;
}
.main-nav ul a:hover, .main-nav ul a:focus {
  outline: none;
  border-color: var(--primary);
}

/** home page **/
header.home {
  padding-bottom: 0;
}
header.home .title {
  padding: 1rem;
}
header.home .title p {
  font-size: 1.25rem;
  white-space: balance;
  line-height: 1.5;
}
header.home .title h1 {
  margin-bottom: 0.5rem;
}

@media (min-width: 650px) {
  header.home img {
    height: 100%;
    object-fit: cover;
  }
  header.home .content {
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 250px);
    align-items: center;
    justify-content: center;
    grid-template-rows: min-content minmax(0, min-content);
  }
  header.home h1 {
    grid-column: 1/3;
  }
}
section {
  padding: 0 1rem;
}

.more {
  text-align: right;
}

.engagements ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 1rem;
}
.engagements li {
  display: flow-root;
  border: solid 2px var(--primary);
  border-radius: 4px;
  padding-bottom: 0.5rem;
}
.engagements img {
  aspect-ratio: 16/3;
  object-fit: cover;
  width: 100%;
  border-radius: 3px 3px 0 0;
  margin-bottom: 0.5rem;
}
.engagements li a {
  float: right;
}
.engagements .desktop {
  display: none;
}
.engagements li > *:not(:where(img)) {
  margin: 0 1rem;
}

@media (min-width: 650px) {
  .engagements ul {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .engagements li {
    flex-basis: 12.5rem;
    display: grid;
    gap: 0.5rem;
    grid-template-rows: min-content auto repeat(3, max-content);
    text-align: center;
  }
  .engagements h3 {
    align-self: center;
  }
  .engagements img {
    aspect-ratio: 16/9;
  }
  .engagements a.button.desktop {
    display: inline-block;
  }
  .engagements a.button.mobile {
    display: none;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: solid 1px var(--border);
}

tbody tr:nth-of-type(even) {
  background: var(--primary-background);
}

table address {
  font-style: normal;
}

@media (max-width: 650px) {
  table thead, tbody, tr, td, th {
    display: block;
  }
  thead {
    position: absolute;
    left: -999999px;
  }
  td {
    display: grid;
    grid-template-columns: 8ch 1fr;
    align-items: baseline;
  }
  td::before {
    content: attr(data-header) ": ";
    font-size: 0.875rem;
    color: var(--color-light);
  }
  tr {
    padding: 0.5rem;
  }
  tr:first-of-type {
    border-top: solid 1px var(--border);
  }
}
@media (min-width: 650px) {
  td, th {
    padding: 0.5rem;
  }
  th {
    text-align: left;
  }
  thead tr:last-of-type {
    border-bottom-color: var(--primary);
  }
}
.tags ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.25rem 0.5rem;
}
.tags li {
  background-color: var(--accent-background);
  color: var(--accent-contrast);
  border-radius: 12px;
  padding: 0.25ex 2ch;
  white-space: nowrap;
  font-size: 0.75rem;
}

ul.presentations {
  list-style-type: none;
  padding: 0;
}
ul.presentations h3 {
  text-wrap: balance;
  text-align: center;
}
ul.presentations li {
  margin-bottom: 1rem;
  border: solid 1px var(--primary-light);
  border-radius: 4px;
  padding-bottom: 1rem;
}
ul.presentations li > *:not(img) {
  margin-left: 1rem;
  margin-right: 1rem;
}
ul.presentations li .content {
  columns: 1;
  hyphens: auto;
  text-align: justify;
}
ul.presentations img {
  display: block;
  max-height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

@media (min-width: 650px) {
  ul.presentations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  ul.presentations li {
    flex-basis: 250px;
    flex-grow: 1;
    display: grid;
    grid-template-rows: min-content min-content auto min-content;
    gap: 0.5rem;
    max-width: 500px;
  }
  ul.presentations li > * {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul.presentations li .content {
    align-self: center;
  }
  ul.presentations li .content :first-child {
    margin-top: 0;
  }
  ul.presentations li .content :last-child {
    margin-bottom: 0;
  }
}