main {
  display: grid;
  gap: 1rem;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 1rem;
}
.actions a.button {
  display: block;
  text-align: center;
}

.overview .title {
  font-weight: bold;
  font-size: 1.125rem;
  text-wrap: balance;
}
.overview .details {
  margin: 1rem 0;
}

.presentations ul {
  list-style-type: none;
  padding: 0;
}
.presentations h3 {
  text-wrap: balance;
  text-align: center;
}
.presentations li {
  margin-bottom: 1rem;
  border: solid 1px var(--primary-light);
  border-radius: 4px;
  padding-bottom: 1rem;
}
.presentations li > *:not(img) {
  margin-left: 1rem;
  margin-right: 1rem;
}
.presentations li .content {
  columns: 1;
  hyphens: auto;
  text-align: justify;
}
.presentations img {
  display: block;
  max-height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

@media (min-width: 650px) {
  main {
    grid-template-columns: 1fr 2fr;
  }
  .overview {
    grid-row: 1/3;
  }
  .details {
    grid-column: 2;
  }
  .presentations {
    grid-column: 2;
  }
  .presentations ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .presentations ul li {
    flex-basis: 250px;
    flex-grow: 1;
    display: grid;
    grid-template-rows: min-content min-content auto min-content;
    gap: 0.5rem;
  }
  .presentations ul li > * {
    margin-top: 0;
    margin-bottom: 0;
  }
  .presentations ul li .content {
    align-self: center;
  }
  .presentations ul li .content :first-child {
    margin-top: 0;
  }
  .presentations ul li .content :last-child {
    margin-bottom: 0;
  }
}