section.tabs {
  display: none;
}

.tab {
  display: none;
  border: solid 1px var(--border);
  border-top: solid 1px var(--border);
  border-radius: 0 4px 4px 4px;
  padding-top: 1rem;
  border-radius: 0 0 4px 4px;
}

.tab.selected {
  display: block;
}

.tab > h2:first-of-type {
  margin-top: 0;
}

.tab-body {
  min-height: 45ex;
}

.tabs nav {
  margin-top: 1rem;
  padding-top: 2px;
}

.tabs nav ul {
  display: flex;
  gap: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs nav button {
  display: block;
  width: 100%;
  background: none;
  font-weight: normal;
  padding: 1ex 2ch;
  border: solid 1px var(--border);
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  margin-top: -2px;
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 -2px 2px 0 rgba(0, 0, 0, 0.02), inset 0 -4px 2px 0 rgba(0, 0, 0, 0.02), inset 0 -6px 2px 0 rgba(0, 0, 0, 0.02);
}

.tabs nav .selected button {
  box-shadow: none;
  color: var(--tab-nav-primary);
  font-weight: bold;
  box-shadow: 0 1px 0 var(--background);
}

section.accordion .panel {
  border: solid 1px var(--primary);
  padding: 0;
  border-radius: 4px;
  margin-bottom: 0.25rem;
  max-height: 2.5rem;
  overflow: hidden;
  transition: all ease-in 250ms allow-discrete;
  transform-origin: top center;
}

section.accordion h2 {
  margin: 0;
}

section.accordion h2 button {
  background: var(--primary-background);
  border: none;
  display: grid;
  grid-template-columns: minmax(0, 1fr) min-content;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  padding: 0 0.5rem 0 0.75rem;
  overflow: hidden;
  border-radius: 4px;
}

section.accordion h2 span {
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

section.accordion .caret {
  transform: rotate(90deg);
  transition: transform 250ms ease-in-out;
}

section.accordion .expanded .caret {
  transform: rotate(0);
}

.panel-body {
  padding: 1rem;
  transition: all ease-in 1s allow-discrete;
  transform-origin: top center;
}

.panel-body :first-child {
  margin-top: 0;
}

.panel-body :last-child {
  margin-bottom: 0;
}

.panel-body p {
  columns: 1;
  hyphens: auto;
  text-align: justify;
  line-height: 1.25;
}

.panel-body li * {
  text-align: left;
}

@media (min-width: 455px) {
  section.accordion {
    display: none;
  }
  section.tabs {
    display: block;
  }
}