.tab {
  display: none;
  border: solid 1px var(--border);
  border-top: none;
  padding-top: 1rem;
  border-radius: 0 0 4px 4px;
}

.tab.selected {
  display: block;
}

.tab > h2:first-of-type {
  margin-top: 0;
}

.tabs nav {
  margin-top: 1rem;
  padding-top: 2px;
}

.tabs nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs nav button {
  display: block;
  width: 100%;
  background: none;
  font-weight: normal;
  padding: 1ex 2ch;
  border: solid 1px var(--border);
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  margin-top: -2px;
  box-shadow: inset 0 -2px 2px 0 rgba(0, 0, 0, 0.02), inset 0 -4px 2px 0 rgba(0, 0, 0, 0.02), inset 0 -6px 2px 0 rgba(0, 0, 0, 0.02);
}

.tabs nav .selected button {
  box-shadow: none;
  color: var(--tab-nav-primary);
  font-weight: bold;
}

@media (min-width: 455px) {
  .tabs nav ul {
    display: flex;
    gap: 5px;
  }
  .tabs nav button {
    border-radius: 4px 4px 0 0;
    box-shadow: inset 0 -2px 2px 0 rgba(0, 0, 0, 0.02), inset 0 -4px 2px 0 rgba(0, 0, 0, 0.02), inset 0 -6px 2px 0 rgba(0, 0, 0, 0.02);
  }
  .tabs nav li.selected button {
    box-shadow: 0 1px 0 var(--background);
  }
  .tab {
    border-top: solid 1px var(--border);
    border-radius: 0 4px 4px 4px;
  }
  .tab-body {
    min-height: 45ex;
  }
}