---
layout: 'layouts/base.liquid'
permalink: 'presentations.html'
---


<header>
  {% include 'components/main-nav.liquid' %}
  <h1>Presentations</h1>
</header>

<main>
  <section>
    {% include 'components/presentation-list.liquid' %}
  </section>
</main>

<main>