<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="widget">
          <a href="index.html"><img alt="" class="img-fluid mb20" src="images/logo-light.png"></a>
          <address class="s1">
            <span><i class="id-color fa fa-map-marker fa-lg"></i>Louisville, KY</span>
            <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:chadgreen@chadgreen.com">chadgreen@chadgreen.com</a></span>
            <span><i class="id-color fa fa-file-pdf-o fa-lg"></i><a href="#">Download Brochure</a></span>
          </address>
        </div>
      </div>
      <div class="col-md-4">
        <h5 class="id-color mb20">Upcoming Speaking Engagements</h5>
        <template_upcomingspeakingengagementslist></template_upcomingspeakingengagementslist>
      </div>
      <div class="col-lg-4">
        <h5 class="id-color mb20">Upcoming Meetups</h5>
        <template_upcomingmeetups></template_upcomingmeetups>
      </div>
    </div>
  </div>
  <div class="subfooter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="de-flex">
            <div class="de-flex-col">
              &copy; Copyright <template_currentyear></template_currentyear> - Green Events & Technology
            </div>
            <div class="de-flex-col">
              <div class="social-icons">
                <a href="https://www.facebook.com/chadwickgreen"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="https://twitter.com/chadgreen"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="https://www.instagram.com/brickswithchad"><i class="fa fa-instagram fa-lg"></i></a>
                <a href="https://twitch.com/TaleLearnCode"><i class="fa fa-twitch fa-lg"></i></a>
                <a href="https://youtube.com/TaleLearnCode"><i class="fa fa-youtube fa-lg"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>