<header class="transparent scroll-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="de-flex sm-pt10">
          <div class="de-flex-col">
            <!-- logo begin -->
            <div id="logo">
              <a href="index.html">
                <img alt="" class="logo" src="images/logo-light.png" />
                <img alt="" class="logo-2" src="images/logo.png" />
              </a>
            </div>
            <!-- logo close -->
          </div>
          <div class="de-flex-col header-col-mid">
            <!-- mainmenu begin -->
            <ul id="mainmenu">
              <li><a href="index.html">Home</a></li>
              <li><a href="speaking-engagements.html">Speaking Engagements</a></li>
              <li><a href="presentations.html">Presentations</a></li>
              <li><a href="meetups.html">Meetups</a></li>
              <li><a href="blog.html">Store</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
            <!-- mainmenu close -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>