<div id="topbar" class="topbar-noborder topbar-dark">
  <div class="container">
    <div class="topbar-left sm-hide">
      <span class="topbar-widget tb-social">
        <a href="https://www.facebook.com/chadwickgreen"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/chadgreen"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/brickswithchad"><i class="fa fa-instagram"></i></a>
      </span>
    </div>
    <div class="clearfix"></div>
  </div>
</div>