<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Chad Green - Presentations</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="Listing of Chad Green's presentations.'" name="description" />
  <meta content="technology, event, conference, speaking" name="keywords" />
  <meta content="Chad Green" name="author" />
  <template_head></template_head>
</head>

<body>
  <div id="wrapper">
    <template_topbar></template_topbar>
    <template_header></template_header>
    <!-- content begin -->
    <div class="no-bottom no-top" id="content">
      <div id="top"></div>
      <section id="section-home" aria-label="section" class="text-light" data-bgimage="url(images/background/bg-subheader-1.jpg) top" data-stellar-background-ratio=".2" data>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12 text-center">
              <h1 class="mt30 wow fadeInUp" data-wow-delay=".6s">Presentations</h1>
            </div>
          </div>
        </div>
      </section>
      <section id="section-content" data-bgimage="url(images/background/bg-1.png) bottom">
        <div class="container">
          <template-presentationslist></template-presentationslist>
        </div>
      </section>
      <template_upcomingeventscarousel></template_upcomingeventscarousel>
    </div>
    <!-- content close -->
    <a href="#" id="back-to-top"></a>
    <template_footer></template_footer>
    <template_preloader></template_preloader>
  </div>
  <template_javascript-includes></template_javascript-includes>
</body>

</html>